* {
    margin: 0;
    font-family: Arial;
    border: border-box;

}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}



.logo {
    background-image: url("Amazon.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

/** box2 **/
.add1 {
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left:12px;
}

.add2 {
    color: #FFFFFF;
    font-size: 1rem;
}

.add-icon{
    display: flex;
    align-items: center;
}

/** box3 **/
.nav-search {
    display: flex;
    background-color: rgb(208, 163, 58);
    border-radius: 3px;
}


.search-input {
    height: 38px;
    width: 620px;
}

.search-select{
    width: 50px;
    background-color: rgb(176, 171, 171);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.search-icon{
    height: 40px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: #0f1111;
   
}

/** box4 **/



span{
    font-size: 0.85rem;
}

.signin-second {
    font-size: 1rem;
    font-weight: 700;
}

/** box6 **/

.nav-cart {
    display: flex;
}